<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>photoset0-0</string>
		<string>photoset0-1</string>
		<string>photoset0-2</string>
		<string>photoset0-3</string>
		<string>photoset0-4</string>
		<string>photoset0-5</string>
		<string>photoset0-6</string>
		<string>photoset0-7</string>
		<string>photoset0-8</string>
		<string>photoset0-9</string>
		<string>photoset0-10</string>
		<string>photoset0-11</string>
		<string>photoset0-12</string>
		<string>photoset0-13</string>
		<string>photoset0-14</string>
		<string>photoset0-15</string>
	</array>
	<array>
		<string>photoset1-0</string>
		<string>photoset1-1</string>
	</array>
	<array>
		<string>photoset2-0</string>
		<string>photoset2-1</string>
		<string>photoset2-2</string>
		<string>photoset2-3</string>
		<string>photoset2-4</string>
		<string>photoset2-5</string>
		<string>photoset2-6</string>
		<string>photoset2-7</string>
		<string>photoset2-8</string>
	</array>
	<array>
		<string>photoset3-0</string>
		<string>photoset3-1</string>
		<string>photoset3-2</string>
		<string>photoset3-3</string>
		<string>photoset3-4</string>
		<string>photoset3-5</string>
		<string>photoset3-6</string>
	</array>
	<array>
		<string>photoset4-0</string>
		<string>photoset4-1</string>
		<string>photoset4-2</string>
		<string>photoset4-3</string>
	</array>
	<array>
		<string>photoset5-0</string>
		<string>photoset5-1</string>
		<string>photoset5-2</string>
		<string>photoset5-3</string>
	</array>
	<array>
		<string>photoset6-0</string>
		<string>photoset6-1</string>
		<string>photoset6-2</string>
		<string>photoset6-3</string>
		<string>photoset6-4</string>
		<string>photoset6-5</string>
	</array>
	<array>
		<string>photoset7-0</string>
		<string>photoset7-1</string>
		<string>photoset7-2</string>
		<string>photoset7-3</string>
		<string>photoset7-4</string>
		<string>photoset7-5</string>
		<string>photoset7-6</string>
	</array>
	<array>
		<string>photoset8-0</string>
		<string>photoset8-1</string>
		<string>photoset8-2</string>
		<string>photoset8-3</string>
		<string>photoset8-4</string>
		<string>photoset8-5</string>
	</array>
</array>
</plist>
